<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>
Dear Admin,<br><br>

Someone is interested in your existing data mention in the data catalog.<br>
Here is the details<br>

     <p>&nbsp&nbsp Layer Title: {0}</p>


Requester Details:<br>
    &nbsp&nbsp&nbsp 1. Name: {1}<br>
    &nbsp&nbsp&nbsp 2. Profile link: {2}<br>
    &nbsp&nbsp&nbsp 3. Organization: {3}<br>
    &nbsp&nbsp&nbsp 4. Email: {4}
<br><br>

Regards,<br>
NSDI Technical Committee

</p>

</body>
</html>