<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>
<p>Dear Admin,</p>

<p>Someone is interested in your layer to have download permission.</p>
<p>Here are the information below:</p>
<p>     a. Requested by: {0}</p>
<p>     b. Profile link: {1}</p>
<p>     b. Requester organization: {2}</p>
<p>     c. Layer name:  {3}</p>

<p>To give the permission , please navigate to this link: {4}</p>

<p>If you don't want to give the permission, just ignore this email.</p>


<p>Regards,</p>


<p>NSDI Techincal Committee</p>

</p>

</body>
</html>