<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>
<p>Dear Committee Member,</p>

<p>A {0} was sent for your approval.</p>
<p>This {1} will only be published in the NSDI platform once you approve. </p>

<p>Here is link to approve or deny (
<a href="{2}">click here</a>)</p>


<p>Alternatively, copy and paste the link below in your browser</p>

<p>Full link here: {2} </p>


<p>Regards,</p>

<p>NSDI Technical Committee</p>

</p>


</body>
</html>