<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>
Dear Admin,<br><br>

Someone is interested in your layer to have download permission.<br>
Here are the information below:<br>
     &nbsp&nbsp&nbsp a. Requested by: {0}<br>
     &nbsp&nbsp&nbsp b. Profile link: {1}<br>
     &nbsp&nbsp&nbsp b. Requester organization: {2}<br>
     &nbsp&nbsp&nbsp c. Layer name:  {3}<br>
<br>
To give the permission , please navigate to this link: {4}<br>
If you don't want to give the permission, just ignore this email.

<br><br><br>
Regards,
<br>

NSDI Techincal Committee

</p>

</body>
</html>