{% extends "site_base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %} {{ block.super }} {% endblock %}

{% block body_class %}data{% endblock %}

{% block body_outer %}
    <div class="gd-content">
        <div class="gd-content-heading">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-title small-content" style="margin: 0px">
                        {% trans "Restore Organization Layers" %}
                    </div>
                </div>
                <div class="hr"></div>
                <div class="col-md-12">
                    {% if success %}
                        <div class="alert alert-success">
                            <strong>Success!</strong> {{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-danger">
                            <strong>Error!</strong> {{ message }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% block body %}{% endblock body %}
        {% block sidebar %}{% endblock sidebar %}
    </div>
{% endblock body_outer %}
