{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Policy" %}{% endblock %}

{% block body_outer %}
<h3>Data Product Specification</h3>

<style>
    .dps-card
{
    padding: 35px;
}
</style>

<br><br><br>
<div class="row">
    <div class="col-md-4 dps-card">
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Basic concept of data quality</h5>
                <p class="card-text"></p>
                <a href="https://docs.google.com/presentation/d/1Y5UUOqUJ-Z200nUQZ7dpC8H7W5HGaks2/edit?usp=sharing&ouid=103017445668909686437&rtpof=true&sd=true" target="_blank" class="btn btn-primary">Download</a>
            </div>
        </div>

    </div>
    <div class="col-md-4 dps-card">
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Draft guidelines for data quality</h5>
                <p class="card-text"></p>
                <a href="https://docs.google.com/document/d/14bswApICtLjxCIUOWFaxh3tNaGbbKAMs/edit?usp=sharing&ouid=103017445668909686437&rtpof=true&sd=true" target="_blank" class="btn btn-primary">Download</a>
            </div>
        </div>

    </div>
    <div class="col-md-4 dps-card">
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Draft guidelines for DPS</h5>
                <p class="card-text"></p>
                <a href="https://docs.google.com/document/d/1HPWCyIQgOqr7x38q_JfWTJmffm3U0kqU/edit?usp=sharing&ouid=103017445668909686437&rtpof=true&sd=true" target="_blank" class="btn btn-primary">Download</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 dps-card">
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Draft guidelines for metadata</h5>
                <p class="card-text"></p>
                <a href="https://docs.google.com/document/d/1LVIIqXSNzl8dh2xHbs8AiDh1CjS0iWOp/edit?usp=sharing&ouid=103017445668909686437&rtpof=true&sd=true" target="_blank" class="btn btn-primary">Download</a>
            </div>
        </div>

    </div>
    <div class="col-md-4 dps-card">
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Example Data Product Specifications</h5>
                <p class="card-text"></p>
                <a href="https://docs.google.com/document/d/1cOT1wOzxBBzz8IDJaS1C0e1lThXbeBbQ/edit?usp=sharing&ouid=103017445668909686437&rtpof=true&sd=true" target="_blank" class="btn btn-primary">Download</a>
            </div>
        </div>

    </div>
    <div class="col-md-4 dps-card">
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">How to register and use metadata</h5>
                <p class="card-text"></p>
                <a href="https://docs.google.com/presentation/d/1bm9a4F9QtAmLjGN8zFHFdCRlQq_4_f7G/edit?usp=sharing&ouid=103017445668909686437&rtpof=true&sd=true" target="_blank" class="btn btn-primary">Download</a>
            </div>
        </div>

    </div>
    <div class="col-md-4 dps-card">
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Why we need DPS</h5>
                <p class="card-text"></p>
                <a href="https://docs.google.com/presentation/d/1Y-LfxTLrVdcNpkT_u2asN74RnGm7uuR5/edit?usp=sharing&ouid=103017445668909686437&rtpof=true&sd=true" target="_blank" class="btn btn-primary">Download</a>
            </div>
        </div>

    </div>
</div>


{% endblock %}