{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "NSDI Policy" %} - {{ block.super }} {% endblock %}

{% block body_outer %}
<div class="gd-content">
    <div class="gd-content-heading">
        <div class="row">
            <div class="col-md-6">
                <div class="title small-content">
                    {% trans "NSDI Policy" %}
                </div>
            </div>
        </div>
        <div class="hr"></div>
    </div>
    <div class="gd-content">
        <div class="row">
            <div class="col-md-12">
                <div id="help-content" class="gd-content-body">
                    <p><strong>&nbsp;</strong></p>
<p style="text-align: center;"><strong>জাতীয় ভূ-স্থানিক উপাত্ত অবকাঠামো নীতিমালা- ২০২১</strong></p>
<p style="text-align: center;"><strong>National Spatial Data Infrastructure</strong><strong> (NSDI) Policy-2021</strong></p>
<p><strong>&nbsp;</strong></p>
<table style="margin-left: auto; margin-right: auto; width: 672px;">
	<tbody>
		<tr style="height: 32px;">
			<td style="width: 75px; height: 32px;" colspan="2">
				<p><strong>প্রস্তাবনাঃ</strong></p>
			</td>
			<td style="width: 574.328px; height: 32px;" colspan="2">&nbsp;</td>
		</tr>
		<tr style="height: 310px;">
			<td style="width: 33px; height: 310px;">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 616.328px; height: 310px;" colspan="3">
				<p>জাতির পিতা বঙ্গবন্ধু শেখ মুজিবুর রহমানের আজীবন লালিত সোনার বাংলা গড়ার স্বপ্ন বাস্তবায়নের নতুন এক প্রত্যয়ের নাম ডিজিটাল বাংলাদেশ। &lsquo;ডিজিটাল বাংলাদেশ&rsquo;&nbsp; ব্র্যান্ডিংটি&nbsp; উন্নয়নের এক যুগান্তকারী দর্শনের নাম। একটি উন্নত দেশ, সমৃদ্ধ ডিজিটাল অবকাঠামো, রূপান্তরিত উৎপাদন ব্যবস্থা, জ্ঞানভিত্তিক অর্থনীতি ও প্রযুক্তিনির্ভর সমাজই হলো ডিজিটাল বাংলাদেশের বাস্তব অবয়ব। একবিংশ শতাব্দীর নিত্য-নতুন ধারণা মানুষের জীবনযাত্রা ও ভাবনার জগতকে পাল্টে দিচ্ছে। তথ্য সমৃদ্ধ জ্ঞানভিত্তিক সমাজ তৈরিতে অংশগ্রহণকারীরাই আগামী পৃথিবীর ধারক ও বাহক। তথ্য-উপাত্তের অবাধ প্রবাহ ও এর উপযুক্ত ব্যবহার নিশ্চিত করার নিমিত্তে জাতীয় ভূ-স্থানিক উপাত্ত অবকাঠামো (NSDI) প্রতিষ্ঠা করা আবশ্যক।</p>
				<p>জাতীয় উন্নয়ন ও জনগুরুত্বপূর্ণ সকল ক্ষেত্রে তথ্য-উপাত্তের ব্যবহার বিশ্বব্যাপী স্বীকৃত। চতুর্থ শিল্প বিপ্লবের সবচেয়ে বড় হাতিয়ার জ্ঞান ও প্রযুক্তি। একবিংশ শতাব্দীর চ্যালেঞ্জ মোকাবেলায় সরকারের সকল কর্মকাণ্ডের কেন্দ্রবিন্দুতে তথ্য ও যোগাযোগ প্রযুক্তির অভিযোজন, ভূ-স্থানিক উপাত্ত ব্যবহার ও সরবরাহের মাধ্যমে অর্থনৈতিক উন্নয়নের বৈচিত্রায়ন, সরকারি সেবা দ্রুততার সাথে জনগণের দোরগোড়ায় পৌঁছে দেয়া এবং অধিক উৎপাদন ও প্রতিযোগিতামূলক বাজার সৃষ্টি করাই অগ্রাধিকারমূলক কাজ। ভূ-স্থানিক তথ্য-উপাত্ত ব্যবহার করে বিভিন্ন উপযোগমূলক ও অত্যাবশ্যকীয় সেবা, দুর্যোগ ব্যবস্থাপনা, ভূমি ব্যবস্থাপনা, জলবায়ু পরিবর্তনসহ অন্যান্য উন্নয়নমূলক কাজ সম্পন্ন ও উন্নত সেবা প্রদান সময়ের দাবী। উক্ত সেবাসমূহ সহজতর করার লক্ষ্যে ভূ-স্থানিক উপাত্ত অবকাঠামো (NSDI) প্রতিষ্ঠা ব্যবহার ও পরিচালনা করা আবশ্যক।&nbsp;</p>
				<p>জাতীয় কৌশলপত্র বাস্তবায়ন, টেকসই উন্নয়ন অর্জন ও উন্নয়নমূলক কর্মকাণ্ডের পরিকল্পনা গ্রহণ এবং পরিচালনায় সরকারি, স্বায়ত্বশাসিত ও বেসরকারি প্রতিষ্ঠানের প্রস্তুতকৃত ভূ-স্থানিক উপাত্ত ব্যবহারের নিমিত্তে একটি সুষ্ঠু ও সময়োপযোগী নীতিমালা প্রণয়ন করা আবশ্যক।&nbsp;</p>
				<p>জাতীয় ভূ-স্থানিক উপাত্ত অবকাঠামো (NSDI) নীতিমালা অনুসরণ করে সরকারি কার্যক্রম সমন্বিতভাবে সম্পাদনের মাধ্যমে বাংলাদেশ ই-গভার্নেন্স বাস্তবায়নে উল্লেখযোগ্য সাফল্য অর্জন করবে।</p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="width: 33px; height: 39px;">
				<p><strong>১.</strong></p>
			</td>
			<td style="width: 616.328px; height: 39px;" colspan="3">
				<p><strong>নীতিমালায় ব্যবহৃত শব্দ বা অভিব্যক্তির ব্যাখ্যাঃ</strong></p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="width: 33px; height: 39px;">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 42px; height: 39px;">
				<p>১.১</p>
			</td>
			<td style="width: 574.328px; height: 39px;" colspan="2">
				<p>&lsquo;অভিক্ষেপ (Projection)&rsquo; অর্থ সমগ্র ভূ-পৃষ্ঠ বা এর কোনো অংশকে সুবিন্যস্ত পদ্ধতিতে অক্ষরেখা ও দ্রাঘিমারেখা দ্বারা সমতলে প্রদর্শন।</p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="width: 33px; height: 39px;">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 42px; height: 39px;">
				<p>১.২</p>
			</td>
			<td style="width: 574.328px; height: 39px;" colspan="2">
				<p>&lsquo;ইলিপসয়েড (Ellipsoid)&rsquo; অর্থ পৃথিবীকে গাণিতিকভাবে উপস্থাপনের জন্য ত্রি-মাত্রিক উপগোলক।</p>
			</td>
		</tr>
		<tr style="height: 56px;">
			<td style="width: 33px; height: 56px;">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 42px; height: 56px;">
				<p>১.৩</p>
			</td>
			<td style="width: 574.328px; height: 56px;" colspan="2">
				<p>&lsquo;জাতীয় ভূ-স্থানিক উপাত্ত অবকাঠামো (National Spatial Data Infrastructure)&rsquo; অর্থ জাতীয়ভাবে স্থাপিত মানসম্পন্ন ভূ-স্থানিক/ভৌগোলিক তথ্য-উপাত্ত ভান্ডার যা অত্র নীতিমালায় NSDI নামে অভিহিত হবে।</p>
			</td>
		</tr>
		<tr style="height: 56px;">
			<td style="width: 33px; height: 56px;">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 42px; height: 56px;">
				<p>১.৪</p>
			</td>
			<td style="width: 574.328px; height: 56px;" colspan="2">
				<p>&lsquo;জিও-পোর্টাল (Geo-Portal)&rsquo; অর্থ ওয়েব পোর্টালের মাধ্যমে প্রদর্শন উপযোগী বিভিন্ন ধরনের ভূ-স্থানিক তথ্য-উপাত্তের আদান-প্রদান, পরিচালনা, রক্ষণাবেক্ষণ ও মানচিত্র ধারণ ব্যবস্থাদি।</p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="width: 33px; height: 39px;">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 60.3281px; height: 39px;" colspan="2">
				<p>১.৫</p>
			</td>
			<td style="width: 556px; height: 39px;">
				<p>&lsquo;তথ্য ভাণ্ডার (Data Center)&rsquo; অর্থ ডিজিটাল তথ্য-উপাত্তের সংরক্ষণ ভাণ্ডার ।&nbsp;&nbsp;</p>
			</td>
		</tr>
		<tr style="height: 56px;">
			<td style="width: 33px; height: 56px;">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 60.3281px; height: 56px;" colspan="2">
				<p>১.৬</p>
			</td>
			<td style="width: 556px; height: 56px;">
				<p>&lsquo;ডেটাম (Datum)&rsquo; অর্থ জাতীয়ভাবে ব্যবহারের জন্য নির্দিষ্ট স্থানে নির্মিত স্থাপনার উপর সূক্ষ্মভাবে পরিমাপকৃত &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ভূ-স্থানাংক ও গড় সমুদ্র পৃষ্ঠের সাপেক্ষে নির্ণয়কৃত উচ্চতা বিশিষ্ট বিন্দু বা তল যা জরিপ কাজে ব্যবহারযোগ্য।</p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="width: 33px; height: 39px;">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 60.3281px; height: 39px;" colspan="2">
				<p>১.৭</p>
			</td>
			<td style="width: 556px; height: 39px;">
				<p>&lsquo;NSDI পোর্টাল&rsquo; অর্থ NSDI পরিচালনার জিও-পোর্টাল।</p>
			</td>
		</tr>
		<tr style="height: 56px;">
			<td style="width: 33px; height: 56px;">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 60.3281px; height: 56px;" colspan="2">
				<p>১.৮</p>
			</td>
			<td style="width: 556px; height: 56px;">
				<p>&lsquo;ডাটা (Data)&rsquo; অর্থ ডিজিটাল বা এনালগ আকারে ধারণকৃত বা সংগৃহীত তথ্য উপাত্ত অথবা কোনো উৎস হতে প্রাপ্ত সংখ্যা, চিত্র, চার্ট/গ্রাফ এবং মানচিত্রের সংকলন।</p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="width: 33px; height: 39px;">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 60.3281px; height: 39px;" colspan="2">
				<p>১.৯</p>
			</td>
			<td style="width: 556px; height: 39px;">
				<p>&lsquo;তথ্য (Information)&rsquo; অর্থ আহরিত জ্ঞান, ডাটা ও মেটাডাটার সমাহার।</p>
			</td>
		</tr>
		<tr style="height: 56px;">
			<td style="width: 33px; height: 56px;">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 60.3281px; height: 56px;" colspan="2">
				<p>১.১০</p>
			</td>
			<td style="width: 556px; height: 56px;">
				<p>&lsquo;মেটাডাটা (Metadata)&rsquo; অর্থ ডাটার সুস্পষ্ট পরিচয় সম্বলিত বর্ণনা যা ব্যবহারকারীকে ডাটা কোথায়, কখন, কেন ও কিভাবে প্রস্তুত করা হয়েছে এবং এর উৎস সম্পর্কে অবহিতকরণ।</p>
			</td>
		</tr>
		<tr style="height: 56px;">
			<td style="width: 33px; height: 56px;">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 60.3281px; height: 56px;" colspan="2">
				<p>১.১১</p>
			</td>
			<td style="width: 556px; height: 56px;">
				<p>&lsquo;ভূ-স্থানিক উপাত্ত (Spatial Data)&rsquo; অর্থ ভূ-পৃষ্ঠের উপরিস্থিত প্রাকৃতিক ও মনুষ্য নির্মিত সকল অবয়ব, স্থাপনার ভৌগোলিক স্থানাংকসহ অন্যান্য ডাটা।</p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="width: 33px; height: 39px;">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 60.3281px; height: 39px;" colspan="2">
				<p>১.১২</p>
			</td>
			<td style="width: 556px; height: 39px;">
				<p>&lsquo;ক্যাটালগ (Catalog)&rsquo; অর্থ কোনো প্রতিষ্ঠানের নিজস্ব ভূ-স্থানিক তথ্য-উপাত্ত (ফরম্যাট, সাইজ, এক্সটেন্ড) সংক্রান্ত বিবরণী।</p>
			</td>
		</tr>
		<tr style="height: 52px;">
			<td style="width: 33px; height: 52px;">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 60.3281px; height: 52px;" colspan="2">
				<p>১.১৩</p>
			</td>
			<td style="width: 556px; height: 52px;">
				<p>SDI ও GSDI ইংরেজি শব্দের পূর্ণাঙ্গ রূপ যথাক্রমে Spatial Data Infrastructure (SDI) ও Global Spatial Data Infrastructure (GSDI).</p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="width: 33px; height: 39px;">
				<p><strong>২.</strong></p>
			</td>
			<td style="width: 616.328px; height: 39px;" colspan="3">
				<p><strong>নীতিমালার প্রয়োজনীয়তাঃ</strong></p>
			</td>
		</tr>
		<tr style="height: 90px;">
			<td style="width: 33px; height: 90px;">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 60.3281px; height: 90px;" colspan="2">
				<p>২.১</p>
			</td>
			<td style="width: 556px; height: 90px;">
				<p>বর্তমানে ভূ-স্থানিক উপাত্ত প্রস্তুতকারী বিভিন্ন সরকারি, স্বায়ত্বশাসিত ও বেসরকারি প্রতিষ্ঠান/ সংস্থা স্বতন্ত্রভাবে কার্য সম্পাদন করে। পরস্পরের মধ্যে তথ্য-উপাত্ত বিনিময়যোগ্য কোনো মাধ্যম না থাকার ফলে একই তথ্য-উপাত্ত বিভিন্ন সরকারি, স্বায়ত্বশাসিত ও বেসরকারি প্রতিষ্ঠান/ সংস্থা&nbsp; আলাদাভাবে তৈরি ও ব্যবহার করে। এ নীতিমালা বাস্তবায়িত হলে, কোনো প্রতিষ্ঠানের ভূ-স্থানিক উপাত্তের প্রয়োজন মেটানোর জন্য উপযুক্ত উপাত্ত সংক্রান্ত তথ্য-উপাত্ত সংরক্ষণ ও তা প্রাপ্তির একটি যথার্থ প্লাটফর্ম গঠিত হবে।</p>
			</td>
		</tr>
		<tr style="height: 107px;">
			<td style="width: 33px; height: 107px;">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 60.3281px; height: 107px;" colspan="2">
				<p>২.২</p>
			</td>
			<td style="width: 556px; height: 107px;">
				<p>নীতিমালা প্রণীত হলে তথ্য-উপাত্তের দ্বৈততা, সময় এবং সরকারি অর্থের যথাযথ ব্যবহার নিশ্চিত হবে। এ সমস্যা সমাধানের নিমিত্তে ভূ-স্থানিক উপাত্ত প্রস্তুতকারী প্রতিষ্ঠানসমূহের ডাটা প্রস্তুতে দ্বৈততা পরিহারসহ সঠিক ও হালনাগাদ তথ্য একটি আদর্শ মানদণ্ড নির্ধারণ করে তথ্য ভাণ্ডার সংরক্ষণ করা হবে। তথ্য ভাণ্ডার শুধু ডাটা সংরক্ষণই করবে না, সমজাতীয় ডাটার পারস্পরিক তুলনার মাধ্যমে ব্যবহারকারীকে ডাটার উপযুক্ততা নির্ণয়ে সাহায্য করবে। জাতীয় নিরাপত্তা বিঘ্নিত না করে প্রতিষ্ঠানসমূহের চাহিদা অনুযায়ী তথ্য-উপাত্ত সংরক্ষণ, বিনিময় ও ব্যবহারের সুযোগ প্রদানের মাধ্যমে অর্থ ও সময় সাশ্রয়ের পাশাপাশি টেকসই উন্নয়ন ত্বরান্বিত&nbsp; হবে।</p>
			</td>
		</tr>
		<tr style="height: 56px;">
			<td style="width: 33px; height: 56px;">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 60.3281px; height: 56px;" colspan="2">
				<p>২.৩</p>
			</td>
			<td style="width: 556px; height: 56px;">
				<p>জাতীয় ভূস্থানিক উপাত্ত অবকাঠামো (NSDI) নীতিমালা অনুসরণপূর্বক সরকারি কার্যক্রম সমন্বিতভাবে সম্পাদনের মাধ্যমে বাংলাদেশ ই-গভার্নেন্স এবং Delta Plan 2100 বাস্তবায়নে উল্লেখযোগ্য সাফল্য অর্জন করবে।</p>
			</td>
		</tr>
		<tr style="height: 56px;">
			<td style="width: 33px; height: 56px;">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 60.3281px; height: 56px;" colspan="2">
				<p>২.৪</p>
			</td>
			<td style="width: 556px; height: 56px;">
				<p>বিশ্ব স্বীকৃত Spatial Data Concept সমূহ (SDI/NSDI/GSDI) বাস্তবায়নের মাধ্যমে দেশীয় ও আন্তর্জাতিক সংশ্লিষ্ট প্রতিষ্ঠানসমূহের মধ্যে দৃঢ় বন্ধন তৈরি হবে।</p>
			</td>
		</tr>
	</tbody>
</table>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;</p>
<table style="margin-left: auto; margin-right: auto;" width="672">
	<tbody>
		<tr>
			<td width="35">
				<p><strong>৩.</strong></p>
			</td>
			<td colspan="2" width="637">
				<p><strong>নীতিমালার উদ্দেশ্যঃ</strong></p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="43">
				<p>৩.১</p>
			</td>
			<td width="594">
				<p>দেশের মধ্যে সংগৃহীত ও প্রস্তুতকৃত সকল ভূ-স্থানিক উপাত্তের দ্বৈততা পরিহার ও সর্বোচ্চ ব্যবহার নিশ্চিত করা।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="43">
				<p>৩.২</p>
			</td>
			<td width="594">
				<p>দেশের ভূ-স্থানিক উপাত্ত প্রস্তুতকারী সরকারি, স্বায়ত্বশাসিত ও বেসরকারি প্রতিষ্ঠান/ সংস্থাসমূহ কর্তৃক সম্ভাব্য সকল ক্ষেত্রে একই স্থানাংক পদ্ধতি (Coordinate System), অভিক্ষেপ (Projection), উপগোলক (Ellipsoid), ডেটাম (Datum) ব্যবহার নিশ্চিত করা এবং ভূ-স্থানিক উপাত্তসমূহ NSDI প্লাটফর্মে সরবরাহ ও সংরক্ষণ করা।&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="43">
				<p>৩.৩</p>
			</td>
			<td width="594">
				<p>স্বত:স্ফূর্ত অংশগ্রহণের মাধ্যমে NSDI সংশ্লিষ্ট সরকারি, স্বায়ত্বশাসিত ও বেসরকারি প্রতিষ্ঠান/সংস্থাসমূহের মধ্যে তথ্য-উপাত্ত বিনিময়যোগ্য করা।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="43">
				<p>৩.৪</p>
			</td>
			<td width="594">
				<p>অংশগ্রহণকারী প্রতিষ্ঠানসমূহের ভূ-স্থানিক উপাত্তের ধরণ, প্রাপ্যতা ও প্রাপ্তির উপায় অবহিত করা।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="43">
				<p>৩.৫</p>
			</td>
			<td width="594">
				<p>ডাটা এবং মেটাডাটা (ডকুমেন্ট, ছবি, অন্যান্য ফাইল) NSDI পোর্টালের মাধ্যমে শেয়ার করা।&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="43">
				<p>৩.৬</p>
			</td>
			<td width="594">
				<p>প্রতিষ্ঠানসমূহের হালনাগাদকৃত ভূ-স্থানিক তথ্য-উপাত্ত NSDI প্লাটফর্মে সরবরাহ নিশ্চিত করা।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="43">
				<p>৩.৭</p>
			</td>
			<td width="594">
				<p>ভূ-স্থানিক উপাত্ত ব্যবহারকারী সকল প্রতিষ্ঠানের চাহিদা ও প্রয়োজন অনুযায়ী একই মানদণ্ডে সঠিক ভূ-স্থানিক তথ্য-উপাত্ত প্রস্তুত নিশ্চিত করা।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="43">
				<p>৩.৮</p>
			</td>
			<td width="594">
				<p>ভূ-স্থানিক উপাত্ত প্রস্তুতকারী সকল প্রতিষ্ঠানের প্রস্তুতকৃত ডাটাসমূহ সকল ক্ষেত্রে একটি নির্দিষ্ট তথ্য ভাণ্ডারের মাধ্যমে প্রক্রিয়াকরণ, সংরক্ষণ ও বিনিময়ের ব্যবস্থা করা।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="43">
				<p>৩.৯</p>
			</td>
			<td width="594">
				<p>শিক্ষা প্রতিষ্ঠান, সরকারি, স্বায়ত্বশাসিত ও বেসরকারি প্রতিষ্ঠানে ডাটা সরবরাহের লক্ষ্যে ডিজিটাল লাইব্রেরি প্রস্তুত ও এতদসংক্রান্ত প্রশিক্ষণ ও সেবা প্রদান করা।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="43">
				<p>৩.১০</p>
			</td>
			<td width="594">
				<p>আন্তর্জাতিক পর্যায়ে বিভিন্ন প্রতিষ্ঠানের সহিত সমন্বয় সাধন এবং সরকার কর্তৃক এতদসংক্রান্ত বিষয়ে প্রদত্ত অন্যান্য কার্য সম্পাদন করা।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="43">
				<p>৩.১১</p>
			</td>
			<td width="594">
				<p>NSDI ও ভূ-স্থানিক উপাত্তের গুরুত্ব সম্পর্কে জাতীয় পর্যায়ে গণসচেতনতামূলক কার্যক্রম পরিচালনা করা।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>৪.</strong></p>
			</td>
			<td colspan="2" width="637">
				<p><strong>ভূ-স্থানিক উপাত্ত বিনিময়ের সুবিধাদিঃ</strong></p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="43">
				<p>৪.১</p>
			</td>
			<td width="594">
				<p>সর্বোত্তম ব্যবহারঃ প্রস্তুতকৃত ডাটাবেজে জনগণের প্রবেশাধিকার, ব্যবহার ও বিশ্লেষণের মাধ্যমে আর্থ-সামাজিক কর্মকাণ্ড ও জনগণের ক্ষমতায়ন বিস্তৃত হবে।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="43">
				<p>৪.২</p>
			</td>
			<td width="594">
				<p>দ্বৈততা পরিহারঃ সমজাতীয় তথ্য-উপাত্ত সংগ্রহ, সংরক্ষণ, প্রক্রিয়াকরণ ও চাহিদার নিমিত্তে সমন্বিত প্লাটফর্ম থেকে বিনিময়ের মাধ্যমে ডাটার দ্বৈততা পরিহার সম্ভব হবে।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="43">
				<p>৪.৩</p>
			</td>
			<td width="594">
				<p>একীভূতকরণঃ তথ্য সংগ্রহ ও বিনিময়ের জন্য সাধারণ মানদণ্ডগুলো অবলম্বন করে পৃথক পৃথক ডাটাসেটের তথ্য-উপাত্তকে একীভূতকরণ সম্ভব হবে।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="43">
				<p>৪.৪</p>
			</td>
			<td width="594">
				<p>যৌক্তিক সিদ্ধান্ত গ্রহণঃ ভূ-স্থানিক তথ্য-উপাত্ত বিশ্লেষণের মাধ্যমে পরিবেশ রক্ষা, উন্নয়ন পরিকল্পনা, সম্পদ ব্যবস্থাপনা, জাতীয় সুরক্ষা, দুর্যোগ ব্যবস্থাপনা ও বিপর্যয় নিয়ন্ত্রণ করার মতো গুরুত্বপূর্ণ সিদ্ধান্ত নিতে সহায়তা করবে।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="43">
				<p>৪.৫</p>
			</td>
			<td width="594">
				<p>সক্ষমতা বৃদ্ধিঃ দেশব্যাপী ভূ-স্থানিক উপাত্ত অবকাঠামো প্রতিষ্ঠা, সফটওয়্যার টেকনোলজি পার্ক/শিল্প স্থাপন, ভৌগোলিক বৈশিষ্ট্য (Geo-morphology) নির্ধারণ ও প্রযুক্তির সর্বোত্তম প্রয়োগের মাধ্যমে ইকোসিস্টেম প্রতিষ্ঠা এবং টেকসই উন্নয়ন ত্বরান্বিত হবে।</p>
			</td>
		</tr>
	</tbody>
</table>
<p>&nbsp;</p>
<table style="margin-left: auto; margin-right: auto; width: 672px;">
	<tbody>
		<tr>
			<td style="width: 33px;">
				<p><strong>৫.</strong></p>
			</td>
			<td style="width: 637.266px;" colspan="5">
				<p><strong>কার্যকারিতা ও প্রয়োগঃ</strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 33px;">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 20px;" colspan="2">
				<p>৫.১</p>
			</td>
			<td style="width: 617.266px;" colspan="3">
				<p>নীতিমালাটি অনুমোদনের তারিখ হতে কার্যকর হবে। বাংলাদেশ জরিপ অধিদপ্তর এ নীতিমালা বাস্তবায়নের নিমিত্তে সমন্বয়কারী হিসেবে কাজ করবে এবং কারিগরি সহায়তা প্রদান করবে।</p>
			</td>
		</tr>
		<tr>
			<td style="width: 33px;">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 20px;" colspan="2">
				<p>৫.২</p>
			</td>
			<td style="width: 617.266px;" colspan="3">
				<p>এ নীতিমালা ভূ-স্থানিক তথ্য-উপাত্ত প্রস্তুতকারী সংশ্লিষ্ট সকল সরকারি, স্বায়ত্বশাসিত ও বেসরকারি প্রতিষ্ঠান/ সংস্থাসমূহের ক্ষেত্রে প্রযোজ্য হবে।</p>
				<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width: 33px;">
				<p><strong>৬.</strong></p>
			</td>
			<td style="width: 637.266px;" colspan="5">
				<p><strong>জাতীয় ভূ-স্থানিক উপাত্ত অবকাঠামো কমিটিঃ</strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 33px;">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 637.266px;" colspan="5">
				<p>এ নীতিমালার উদ্দেশ্য পূরণকল্পে সরকার প্রাথমিকভাবে &lsquo;বাস্তবায়ন কমিটি&rsquo; ও &lsquo;কারিগরি কমিটি&rsquo; গঠন করবে। ভূ-স্থানিক উপাত্ত প্রস্তুতকারী ও ব্যবহারকারী প্রতিষ্ঠানসমূহের সাথে সমন্বয়ের মাধ্যমে এসব কমিটি কাজ করবে। বাস্তবায়ন কমিটির অধীনে কারিগরি কমিটি গঠিত হবে।</p>
			</td>
		</tr>
		<tr>
			<td style="width: 33px;">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 20px;" colspan="2">
				<p>৬.১</p>
			</td>
			<td style="width: 617.266px;" colspan="3">
				<p><strong>বাস্তবায়ন কমিটিঃ</strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 43px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 59.1406px;" colspan="2">
				<p>০১.</p>
			</td>
			<td style="width: 484px;">
				<p>সিনিয়র সচিব/সচিব, প্রতিরক্ষা মন্ত্রণালয়</p>
			</td>
			<td style="width: 74.125px;">
				<p>সভাপতি</p>
			</td>
		</tr>
		<tr>
			<td style="width: 43px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 59.1406px;" colspan="2">
				<p>০২.</p>
			</td>
			<td style="width: 484px;">
				<p>যুগ্মসচিব, প্রতিরক্ষা মন্ত্রণালয়</p>
			</td>
			<td style="width: 74.125px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 43px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 59.1406px;" colspan="2">
				<p>০৩.</p>
			</td>
			<td style="width: 484px;">
				<p>প্রতিনিধি, মন্ত্রিপরিষদ বিভাগ (যুগ্মসচিব পদমর্যাদার নিম্নে নয়)</p>
			</td>
			<td style="width: 74.125px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 43px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 59.1406px;" colspan="2">
				<p>০৪.</p>
			</td>
			<td style="width: 484px;">
				<p>প্রতিনিধি, জনপ্রশাসন মন্ত্রণালয় (যুগ্মসচিব পদমর্যাদার নিম্নে নয়)</p>
			</td>
			<td style="width: 74.125px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 43px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 59.1406px;" colspan="2">
				<p>০৫.</p>
			</td>
			<td style="width: 484px;">
				<p>প্রতিনিধি ভূমি মন্ত্রণালয় (যুগ্মসচিব পদমর্যাদার নিম্নে নয়)</p>
			</td>
			<td style="width: 74.125px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 43px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 59.1406px;" colspan="2">
				<p>০৬.</p>
			</td>
			<td style="width: 484px;">
				<p>প্রতিনিধি, অর্থ বিভাগ (যুগ্মসচিব পদমর্যাদার নিম্নে নয়)</p>
			</td>
			<td style="width: 74.125px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 43px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 59.1406px;" colspan="2">
				<p>০৭.</p>
			</td>
			<td style="width: 484px;">
				<p>প্রতিনিধি, বাস্তবায়ন পরিবীক্ষণ ও মূল্যায়ন বিভাগ, পরিকল্পনা মন্ত্রণালয় (যুগ্মসচিব পদমর্যাদার নিম্নে নয়)</p>
			</td>
			<td style="width: 74.125px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 43px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 59.1406px;" colspan="2">
				<p>০৮.</p>
			</td>
			<td style="width: 484px;">
				<p>প্রতিনিধি, স্থানীয় সরকার, পল্লী উন্নয়ন ও সমবায় মন্ত্রণালয় (যুগ্মসচিব পদমর্যাদার নিম্নে নয়)</p>
			</td>
			<td style="width: 74.125px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 43px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 59.1406px;" colspan="2">
				<p>০৯.</p>
			</td>
			<td style="width: 484px;">
				<p>প্রতিনিধি, পরিবেশ, বন ও জলবায়ু পরিবর্তন মন্ত্রণালয় (যুগ্মসচিব পদমর্যাদার নিম্নে নয়)</p>
			</td>
			<td style="width: 74.125px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 43px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 59.1406px;" colspan="2">
				<p>১০.</p>
			</td>
			<td style="width: 484px;">
				<p>প্রতিনিধি, সাধারণ অর্থনীতি বিভাগ, পরিকল্পনা কমিশন (যুগ্মসচিব পদমর্যাদার নিম্নে নয়)</p>
			</td>
			<td style="width: 74.125px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 43px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 59.1406px;" colspan="2">
				<p>১১.</p>
			</td>
			<td style="width: 484px;">
				<p>প্রতিনিধি, ডাক ও টেলিযোগাযোগ বিভাগ (যুগ্মসচিব পদমর্যাদার নিম্নে নয়)</p>
			</td>
			<td style="width: 74.125px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 43px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 59.1406px;" colspan="2">
				<p>১২.</p>
			</td>
			<td style="width: 484px;">
				<p>প্রতিনিধি, তথ্য ও যোগাযোগ প্রযুক্তি বিভাগ (আইসিটি), (যুগ্মসচিব পদমর্যাদার নিম্নে নয়)</p>
			</td>
			<td style="width: 74.125px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 43px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 59.1406px;" colspan="2">
				<p>১৩.</p>
			</td>
			<td style="width: 484px;">
				<p>সার্ভেয়ার জেনারেল, বাংলাদেশ জরিপ অধিদপ্তর</p>
			</td>
			<td style="width: 74.125px;">
				<p>সদস্য সচিব</p>
			</td>
		</tr>
	</tbody>
</table>
<p>&nbsp;</p>
<p>* কমিটি প্রয়োজনে সদস্য সংযোজন করতে পারবে।</p>
<table style="margin-left: auto; margin-right: auto;" width="672">
	<tbody>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td colspan="2" width="637">
				<p>৬.২&nbsp;&nbsp; <strong>বাস্তবায়ন কমিটির কার্যপরিধিঃ</strong></p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="49">
				<p>৬.২.১</p>
			</td>
			<td width="588">
				<p>ভূ-স্থানিক উপাত্তের সাথে সংশ্লিষ্ট সকল সরকারি, স্বায়ত্বশাসিত ও বেসরকারি প্রতিষ্ঠান/সংস্থাসমূহের পরস্পরের মধ্যে তথ্য সংগ্রহ, বিনিময় ইত্যাদি প্রয়োজনীয় সমন্বয় সাধনপূর্বক কর্মপদ্ধতি প্রণয়ন করা।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="49">
				<p>৬.২.২</p>
			</td>
			<td width="588">
				<p>NSDI সংশ্লিষ্ট কার্যক্রম চলমান ও কার্যকর রাখার লক্ষ্যে বাংলাদেশ জরিপ অধিদপ্তরে পৃথক ইউনিট গঠন ও জনবল নিয়োগসহ কৌশলগত পরিকল্পনা প্রণয়ন করা।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="49">
				<p>৬.২.৩</p>
			</td>
			<td width="588">
				<p>NSDI এর মানোন্নয়নে এ নীতিমালার আলোকে আইন ও বিধিমালা প্রণয়নে কার্যকর পদক্ষেপ ও ব্যবস্থা গ্রহণ করা।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="49">
				<p>৬.২.৪</p>
			</td>
			<td width="588">
				<p>NSDI প্রণীত মানদণ্ড, দিকনির্দেশনা, মূলনীতি প্রভৃতি কার্যকর করার নির্দেশনা প্রদান করা।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="49">
				<p>৬.২.৫</p>
			</td>
			<td width="588">
				<p>NSDI ফ্রেমওয়ার্কের বাৎসরিক মনিটরিং ও অগ্রগতি পর্যলোচনা করা এবং ভূ-স্থানিক উপাত্ত ব্যবহার সহজতর করার নিমিত্তে মৌলিক পরিকল্পনা গ্রহণ, উন্নয়ন ও পরিমার্জন করা।&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="49">
				<p>৬.২.৬</p>
			</td>
			<td width="588">
				<p>বিভিন্ন সরকারি, স্বায়ত্বশাসিত ও বেসরকারি প্রতিষ্ঠান/সংস্থাসমূহ কর্তৃক প্রদত্ত ভূ-স্থানিক উপাত্তের অনলাইন সেবাসমূহ Interoperable করা।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="49">
				<p>৬.২.৭</p>
			</td>
			<td width="588">
				<p>NSDI এর ভূ-স্থানিক তথ্য-উপাত্তসমূহ দেশ ও জাতির প্রয়োজনে গবেষণা ও উন্নয়নমূলক কাজে সর্বোত্তম ব্যবহার নিশ্চিত করা।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="49">
				<p>৬.২.৮</p>
			</td>
			<td width="588">
				<p>জাতীয় আর্থ সামাজিক উন্নয়ন এবং বিজ্ঞান ও প্রযুক্তির ক্ষেত্রে সেবাদানের জন্য সুনির্দিষ্ট কর্মপরিকল্পনা প্রণয়নের দিকনির্দেশনা প্রদান করা।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="49">
				<p>৬.২.৯</p>
			</td>
			<td width="588">
				<p>NSDI সংক্রান্ত প্রশিক্ষণ ও সেবা প্রদান নীতিমালা প্রণয়ন করা।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="49">
				<p>৬.২.১০</p>
			</td>
			<td width="588">
				<p>NSDI প্রতিষ্ঠায় প্রয়োজনীয় স্থাপনা তৈরি ও রক্ষণাবেক্ষণ, ব্যবস্থাপনা, বাজেট এবং কর্মকৌশল বাস্তবায়নের জন্য প্রয়োজনে বিবিধ কমিটি ও গ্রুপ গঠন এবং বার্ষিক কর্মসূচি প্রণয়ন করা।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="49">
				<p>৬.২.১১</p>
			</td>
			<td width="588">
				<p>সেবা গ্রহিতার ডাটা প্রাপ্তির সুবিধার্থে ডাটা প্রস্তুতকারী প্রতিষ্ঠানকে স্বল্পমূল্য নির্ধারণের সুপারিশ করা।</p>
			</td>
		</tr>
	</tbody>
</table>
<p style="text-align: center;">&nbsp;</p>
<table style="margin-left: auto; margin-right: auto; width: 672.062px;">
	<tbody>
		<tr>
			<td style="width: 31px;">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="width: 41px;" colspan="2">
				<p>৬.৩</p>
			</td>
			<td style="width: 550.062px;" colspan="3">
				<p><strong>কারিগরি কমিটিঃ</strong></p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>০১.</p>
			</td>
			<td style="width: 465px;">
				<p>সার্ভেয়ার জেনারেল, বাংলাদেশ জরিপ অধিদপ্তর</p>
			</td>
			<td style="width: 72px;">
				<p>সভাপতি</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>০২.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, প্রতিরক্ষা মন্ত্রণালয়</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>০৩.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, ভূমি রেকর্ড ও জরিপ অধিদপ্তর</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>০৪.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, বাংলাদেশ পরিসংখ্যান ব্যুরো</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>০৫.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, বাংলাদেশ কম্পিউটার কাউন্সিল</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>০৬.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, স্থানীয় সরকার প্রকৌশল অধিদপ্তর</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>০৭.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, বাংলাদেশ ভূ-ত্বাত্তিক জরিপ অধিদপ্তর</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>০৮.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, আইসিটি বিভাগ</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>০৯.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, বাংলাদেশ কৃষি গবেষণা কাউন্সিল</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>১০.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, বন অধিদপ্তর</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>১১.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, সড়ক ও জনপথ অধিদপ্তর</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>১২.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, ঢাকা উত্তর সিটি কর্পোরেশন</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>১৩.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, ঢাকা দক্ষিণ সিটি কর্পোরেশন</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>১৪.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, বাংলাদেশ মহাকাশ গবেষণা ও দূর অনুধাবন প্রতিষ্ঠান</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>১৫.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, বাংলাদেশ আবহাওয়া অধিদপ্তর</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>১৬.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, দুর্যোগ ব্যবস্থাপনা অধিদপ্তর</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>১৭.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, বাংলাদেশ পানি উন্নয়ন বোর্ড</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>১৮.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, বাংলাদেশ অভ্যন্তরীণ নৌ-পরিবহন কর্তৃপক্ষ</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>১৯.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, হাইড্রোগ্রাফি পরিদপ্তর, বাংলাদেশ নৌ-বাহিনী</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>২০.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, রাজধানী উন্নয়ন কর্তৃপক্ষ</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>২১.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, পানি সরবরাহ ও পয়ঃনিষ্কাশন কর্তৃপক্ষ, ঢাকা</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>২২.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, মৃত্তিকা সম্পদ উন্নয়ন ইনস্টিটিউট</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>২৩.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, পরিবেশ অধিদপ্তর</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>২৪.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, স্বাস্থ্য অধিদপ্তর</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>২৫.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, সিভিল ইঞ্জিনিয়ারিং বিভাগ, বুয়েট</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>২৬.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, ভূগোল ও পরিবেশ বিভাগ, ঢাকা বিশ্ববিদ্যালয়</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>২৭.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, ভূগোল ও পরিবেশ বিভাগ, জাহাঙ্গীরনগর বিশ্ববিদ্যালয়</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>২৮.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, নগর উন্নয়ন অধিদপ্তর</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>২৯.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, বিদ্যুৎ উন্নয়ন বোর্ড</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>৩০.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, বাংলাদেশ পল্লী বিদ্যুতায়ন বোর্ড</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>৩১.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, পানি সম্পদ পরিকল্পনা সংস্থা (ওয়ারপো)&nbsp;</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>৩২.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, ইনস্টিটিউট অব ওয়াটার মডেলিং (আইডব্লিউএম)</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>৩৩.</p>
			</td>
			<td style="width: 465px;">
				<p>প্রতিনিধি, সেন্টার ফর এনভায়রনমেন্টাল এন্ড জিওগ্রাফিক ইনফরমেশন্স</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য</p>
			</td>
		</tr>
		<tr>
			<td style="width: 44px;" colspan="2">
				<p>&nbsp;</p>
			</td>
			<td style="width: 38px;" colspan="2">
				<p>৩৪.</p>
			</td>
			<td style="width: 465px;">
				<p>পরিচালক, বাংলাদেশ জরিপ অধিদপ্তর</p>
			</td>
			<td style="width: 72px;">
				<p>সদস্য সচিব</p>
			</td>
		</tr>
	</tbody>
</table>
<p>* কমিটি প্রয়োজনে সদস্য সংযোজন করতে পারবে।</p>
<table style="margin-left: auto; margin-right: auto;" width="672">
	<tbody>
		<tr style="height: 48px;">
			<td style="height: 48px;" width="35"><br />
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="height: 48px;" colspan="3" width="637">
				<p>৬.৪&nbsp;&nbsp; <strong>কারিগরি কমিটির কার্যপরিধিঃ</strong></p>
			</td>
		</tr>
		<tr style="height: 56px;">
			<td style="height: 56px;" width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="height: 56px;" colspan="2" width="49">
				<p>৬.৪.১</p>
			</td>
			<td style="height: 56px;" width="588">
				<p>NSDI এর স্ট্যান্ডার্ড, গাইডলাইন, মূলনীতি প্রভৃতি যেন কার্যকরভাবে অনুসৃত হয় এবং সরকারের অন্য কোনো আইন/বিধিমালার সাথে সাংঘর্ষিক না হয় এ ব্যাপারে বাস্তবায়ন কমিটিকে পরামর্শ প্রদান করা।</p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="height: 39px;" width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="height: 39px;" colspan="2" width="49">
				<p>৬.৪.২</p>
			</td>
			<td style="height: 39px;" width="588">
				<p>প্রদানযোগ্য সকল ভূ-স্থানিক তথ্য-উপাত্ত চাহিদার আলোকে দ্রুত প্রদানের লক্ষ্যে কারিগরি দিকনির্দেশনা প্রদান করা।</p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="height: 39px;" width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="height: 39px;" colspan="2" width="49">
				<p>৬.৪.৩</p>
			</td>
			<td style="height: 39px;" width="588">
				<p>NSDI পোর্টাল পরিচালনা সংক্রান্ত প্রয়োজনীয় কারিগরি দিকনির্দেশনা প্রদান করা।</p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="height: 39px;" width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="height: 39px;" colspan="2" width="49">
				<p>৬.৪.৪</p>
			</td>
			<td style="height: 39px;" width="588">
				<p>বিদ্যমান ভূ-স্থানিক সার্ভিস সম্বলিত কাঠামোগুলোকে NSDI পোর্টালে সংযুক্ত করতে কারিগরি দিকনির্দেশনা প্রদান করা।</p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="height: 39px;" width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="height: 39px;" colspan="2" width="49">
				<p>৬.৪.৫</p>
			</td>
			<td style="height: 39px;" width="588">
				<p>ডাটা সেন্টারের জন্য প্রয়োজনীয় সার্ভারের বৈশিষ্ট্য, নিরাপত্তা ও কারিগরি বিষয়ে বাস্তবায়ন কমিটির নিকট সুপারিশ করা।</p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="height: 39px;" width="35">
				<p><strong>৭.</strong></p>
			</td>
			<td style="height: 39px;" colspan="3" width="637">
				<p><strong>ডাটার শ্রেণিবিন্যাসঃ</strong></p>
			</td>
		</tr>
		<tr style="height: 90px;">
			<td style="height: 90px;" width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="height: 90px;" colspan="3" width="637">
				<p>বিভিন্ন সরকারি, স্বায়ত্বশাসিত ও বেসরকারি প্রতিষ্ঠান/সংস্থা কর্তৃক প্রস্তুতকৃত ভূ-স্থানিক উপাত্তসমূহকে প্রবেশাধিকারের ভিত্তিতে সুনির্দিষ্টভাবে শ্রেণিবদ্ধ করা আবশ্যক। ভূ-স্থানিক উপাত্ত মূলত স্যাটেলাইট ইমেজারি, আকাশ আলোকচিত্র, UAV ও LiDAR সহ নিত্য-নতুন প্রযুক্তি ও মাঠ জরিপের মাধ্যমে সংগৃহিত তথ্যাদি। এর প্রেক্ষিতে&nbsp; ডাটা ও মেটাডাটা ব্যবহারের নীতিতে শ্রেণিবিন্যাসের প্রযোজ্যতা বজায় রাখা গুরুত্বপূর্ণ। বাস্তবায়ন ও কারিগরি কমিটির সিদ্ধান্ত ও পর্যবেক্ষণের আলোকে সংশ্লিষ্ট প্রতিষ্ঠানসমূহ ডাটা প্রস্তুত, বিন্যাস ও হালনাগাদ করবে।</p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="height: 39px;" width="35">
				<p><strong>৮.</strong></p>
			</td>
			<td style="height: 39px;" colspan="3" width="637">
				<p><strong>NSDI তথ্য ভান্ডারে প্রবেশাধিকারের ধরণঃ</strong></p>
			</td>
		</tr>
		<tr style="height: 67px;">
			<td style="height: 67px;" width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="height: 67px;" width="39">
				<p>৮.১</p>
			</td>
			<td style="height: 67px;" colspan="2" width="598">
				<p>উন্মুক্ত প্রবেশাধিকারঃ নিবন্ধন/অনুমোদনের কোনো প্রক্রিয়া ছাড়াই ডাটায় সেবা-প্রত্যাশীর প্রবেশাধিকার থাকবে এবং এসব</p>
				<p>ডাটা সহজ এক্সেস, সময়োপযোগী, ব্যবহার বান্ধব ও অনলাইন ভিত্তিক হবে।</p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="height: 39px;" width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="height: 39px;" width="39">
				<p>৮.২</p>
			</td>
			<td style="height: 39px;" colspan="2" width="598">
				<p>নিবন্ধিত প্রবেশাধিকারঃ নিবন্ধন/অনুমোদন সাপেক্ষে নিবন্ধিত সেবা গ্রহিতা প্রবেশাধিকার পাবে।</p>
			</td>
		</tr>
		<tr style="height: 56px;">
			<td style="height: 56px;" width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="height: 56px;" width="39">
				<p>৮.৩</p>
			</td>
			<td style="height: 56px;" colspan="2" width="598">
				<p>সীমিত প্রবেশাধিকারঃ সরকারের বিধি-বিধান দ্বারা সীমাবদ্ধ হিসেবে ঘোষিত ডাটা স্ব-স্ব প্রতিষ্ঠান কর্তৃক অনুমোদনের মাধ্যমে প্রবেশযোগ্য হবে।</p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="height: 39px;" width="35">
				<p><strong>৯.</strong></p>
			</td>
			<td style="height: 39px;" colspan="3" width="637">
				<p><strong>ডাটা বিনিময় প্রযুক্তিঃ</strong></p>
			</td>
		</tr>
		<tr style="height: 107px;">
			<td style="height: 107px;" width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="height: 107px;" colspan="3" width="637">
				<p>জাতীয় ভূ-স্থানিক উপাত্ত অবকাঠামোতে সেবাসমূহ প্রদানের নিমিত্তে একটি NSDI পোর্টাল থাকবে, যা একটি মিডলওয়্যার (Middle ware) প্লাটফর্ম হিসেবে কাজ করবে। এ পোর্টালে ভূ-স্থানিক তথ্য-উপাত্ত ভিত্তিক সকল প্রতিষ্ঠানের সেবাসমূহ সংযুক্ত থাকবে। এ পোর্টালের মাধ্যমে সংশ্লিষ্ট প্রতিষ্ঠানসমূহ তথ্য-উপাত্ত আদান-প্রদান করবে। ভূ-স্থানিক উপাত্ত ও সংশ্লিষ্ট NSDI পোর্টালের ডাটা সেন্টারের নিরাপত্তা NSDI বাস্তবায়ন কমিটি নিশ্চিত করবে। বাস্তবায়ন কমিটি প্রয়োজন অনুযায়ী তথ্য ফাঁস, প্রতারণা রোধ কিংবা গোপনীয়তা ও নিরাপত্তার বিষয়ে জাতীয় গোয়েন্দা সংস্থা ও বাংলাদেশ টেলিযোগাযোগ নিয়ন্ত্রণ কমিশন (বিটিআরসি) এর পরামর্শ গ্রহণ করবে।</p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="height: 39px;" width="35">
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
			</td>
			<td style="height: 39px;" colspan="3" width="637">
				<p><strong>NSDI পোর্টালে নিম্নোক্ত সুবিধাদি বিদ্যমান থাকবেঃ</strong></p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="height: 39px;" width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="height: 39px;" colspan="2" width="49">
				<p>৯.১</p>
			</td>
			<td style="height: 39px;" width="588">
				<p>সবার জন্য উন্মুক্ত ও জনবান্ধব প্লাটফর্ম</p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="height: 39px;" width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="height: 39px;" colspan="2" width="49">
				<p>৯.২</p>
			</td>
			<td style="height: 39px;" width="588">
				<p>সুস্পষ্ট শিরোনাম সম্বলিত বিন্যস্ত ডাটা</p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="height: 39px;" width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="height: 39px;" colspan="2" width="49">
				<p>৯.৩</p>
			</td>
			<td style="height: 39px;" width="588">
				<p>গতিশীল ও আকর্ষণীয় উপায়ে তথ্য অনুসন্ধান প্রক্রিয়া</p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="height: 39px;" width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="height: 39px;" colspan="2" width="49">
				<p>৯.৪</p>
			</td>
			<td style="height: 39px;" width="588">
				<p>সুরক্ষিত উপায়ে পোর্টালে প্রবেশাধিকার</p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="height: 39px;" width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="height: 39px;" colspan="2" width="49">
				<p>৯.৫</p>
			</td>
			<td style="height: 39px;" width="588">
				<p>তথ্য-উপাত্ত বিনিময়ে নিশ্ছিদ্র নিরাপত্তা</p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="height: 39px;" width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="height: 39px;" colspan="2" width="49">
				<p>৯.৬</p>
			</td>
			<td style="height: 39px;" width="588">
				<p>হালনাগাদ খবর/বুলেটিনের দৃশ্যমান নোটিশ</p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="height: 39px;" width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="height: 39px;" colspan="2" width="49">
				<p>৯.৭</p>
			</td>
			<td style="height: 39px;" width="588">
				<p>সুস্পষ্ট এবং বিশদ বর্ণনা সম্বলিত পূর্ণাঙ্গ ডাটাসেট</p>
			</td>
		</tr>
		<tr style="height: 39px;">
			<td style="height: 39px;" width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td style="height: 39px;" colspan="2" width="49">
				<p>৯.৮</p>
			</td>
			<td style="height: 39px;" width="588">
				<p>সহজে বিনিময়যোগ্য, বাস্তবসম্মত ও গতিশীল প্রতিবেদন (Dynamic Report)</p>
			</td>
		</tr>
	</tbody>
</table>
<p>&nbsp;</p>
<table style="margin-left: auto; margin-right: auto;" width="672">
	<tbody>
		<tr>
			<td width="35">
				<p><strong>১০.</strong></p>
			</td>
			<td width="637">
				<p><strong>আইনী কাঠামোঃ</strong></p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="637">
				<p>এ নীতিমালার অধীনে ভূ-স্থানিক উপাত্ত প্রস্তুতকারী সকল সরকারি, স্বায়ত্বশাসিত ও বেসরকারি প্রতিষ্ঠান/সংস্থা তাদের প্রস্তুতকৃত&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;ভূ-স্থানিক উপাত্তসমূহ NSDI প্লাটফর্মে সংরক্ষণ করবে। ডাটা প্রস্তুতকারী স্ব-স্ব সরকারি, স্বায়ত্বশাসিত ও বেসরকারি প্রতিষ্ঠান/সংস্থা হবে ডাটার মূল স্বত্বাধিকারী। সংশ্লিষ্ট প্রতিষ্ঠানের তথ্য-উপাত্ত আদান-প্রদান ও ব্যবহারের প্রযুক্তিগত সক্ষমতা থাকবে। তথ্য-উপাত্ত ব্যবহার ও আদান-প্রদানে এ নীতিমালা বাংলাদেশ সরকারের বিদ্যমান কোনো আইন ও বিধি লংঘন করবে না। এ নীতিমালার আইনী কাঠামো বিদ্যমান সকল বিধি-বিধানের সাথে সংগতিপূর্ণ হবে। দেশের স্বার্থে এবং সর্বাধুনিক প্রযুক্তি ব্যবহারের লক্ষ্যে এ নীতিমালা সময় সময় হালনাগাদ করা হবে।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>১১.</strong></p>
			</td>
			<td width="637">
				<p><strong>ডাটার মূল্য নির্ধারণ ও পরিশোধঃ</strong></p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="637">
				<p>ডাটা প্রস্তুতকারী প্রতিষ্ঠান সরকারের বিদ্যমান বিধি-বিধান অনুসরণপূর্বক ডাটার মূল্য নির্ধারণ করবে। সেবা গ্রহিতার ডাটা প্রাপ্তির সুবিধার্থে বাস্তবায়ন কমিটি ডাটা প্রস্তুতকারী প্রতিষ্ঠানকে স্বল্পমূল্য নির্ধারণের সুপারিশ করবে। সংশ্লিষ্ট সরকারি, স্বায়ত্বশাসিত ও বেসরকারি প্রতিষ্ঠান/সংস্থা ডাটার মূল্য নির্ধারণপূর্বক পোর্টালে প্রদর্শন করবে। ডাটার মূল্য পরিশোধে ইলেকট্রনিক অ্যাপ্লিকেশন সুবিধা বিদ্যমান থাকবে।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>১২.</strong></p>
			</td>
			<td width="637">
				<p><strong>বাজেটঃ </strong></p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="637">
				<p>NSDI কার্যক্রম সুসংহত করার লক্ষ্যে সংশ্লিষ্ট প্রতিষ্ঠানসমূহের কর্মচারীদের মৌলিক প্রশিক্ষণ ও গবেষণা সংক্রান্ত আইন/বিধি-বিধানসমূহ পর্যালোচনা এবং বাজেট সংস্থানের উদ্যোগ বাস্তবায়ন কমিটি গ্রহণ করবে। NSDI প্লাটফর্মে ডাটা বিনিময় ও প্রবেশাধিকার নীতি দ্বারা সংরক্ষিত সকল ভূ-স্থানিক তথ্য-উপাত্তের ডিজিটাল রূপান্তর, ডাটা স্টোরেজ, গুণগত মানোন্নয়ন, মেটাডাটা সংযোজন ও প্রশিক্ষণ সংক্রান্ত ব্যয়ভার ডাটা সংশ্লিষ্ট &nbsp;প্রতিষ্ঠান বহন করবে।</p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>১৩.</strong></p>
			</td>
			<td width="637">
				<p><strong>উপসংহারঃ</strong></p>
			</td>
		</tr>
		<tr>
			<td width="35">
				<p><strong>&nbsp;</strong></p>
			</td>
			<td width="637">
				<p>ভৌগোলিক তথ্য-উপাত্ত সিস্টেমে আধুনিক প্রযুক্তির আবির্ভাব ও অগ্রগতি ভূ-স্থানিক উপাত্তের বহুমুখী সম্ভাবনার দ্বার উন্মোচন করেছে। তথ্য প্রযুক্তি বিকাশের যুগে ভূ-স্থানিক উপাত্তের সম্ভাবনা, ভিজ্যুয়ালাইজেশন, অনলাইন প্লাটফর্মে বিতরণ ও বিনিময় সময়ের দাবি। এ প্রেক্ষিতে সরকারি, স্বায়ত্বশাসিত ও বেসরকারি প্রতিষ্ঠান/ সংস্থাগুলো ভূ-স্থানিক উপাত্ত অবকাঠামো গড়ে তুলেছে। চতুর্থ শিল্প বিপ্লবের আইটি, ইঞ্জিনিয়ারিং ও ভূ-স্থানিক ডাটাবেজের সমন্বিত প্লাটফর্মই হবে উন্নয়নের ধারক ও বাহক। এ নীতিমালা বাংলাদেশ সরকার ও জনগণকে বিশ্বায়নের সাথে সম্পৃক্ত করতে সহায়ক হবে।</p>
			</td>
		</tr>
	</tbody>
</table>
<p><strong>&nbsp;</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
