{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Policy" %}{% endblock %}

{% block body_outer %}
<h3>The Standard Spatial Reference For All Types of Spatial Data</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Standard</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Name</td>
        <td>Geographic Coordinate System WGS 1984 ( WKID: 4326 )</td>
    </tr>
    <tr>
        <td>Reference Ellipsoid</td>
        <td>WGS 1984</td>
    </tr>
    <tr>
        <td>Horizontal Datum</td>
        <td>WGS 1984</td>
    </tr>
    <tr>
        <td>Vertical Datum</td>
        <td>Mean sea level of the Bay of Bangle at Rangadia, Chittagong.</td>
    </tr>
    </tbody>
</table>

{% endblock %}