{% extends "layers/layer_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %} {% trans "Explore Layers" %} - {{ block.super }} {% endblock %}

{% block body_class %}layers explore{% endblock %}

{% block body %}


<style>

</style>

<div ng-app="listSearchApp" ng-controller="ResourceListSearchController" ng-init="initdata('layer')">


    <div class="d-title">{% trans "Explore Layers" %}</div>

    <div class="button-bar">

        <div class="pull-left">

            <div style="display: inline;width: 245px;position: relative;float: left">

                <div style="display: inline-block">
                    <div class="input-group" style="width: 100px;">
                        <input type="search" class="form-control" style="display: inline-block;width: auto;height: 39px"
                               id='myinput' placeholder="Search for..." ng-click="showSearchResults()"
                               ng-blur="hideSearchResults()" ng-change="searchAutocomplete()" ng-model="searchString">
                        <span class="input-group-btn">
                        <button class="btn btn-gd-primary" style="padding: 6px 10px;font-size:18px"
                                ng-click="searchResources()" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->


                <div class="search-resource">
                    <ul class="list-group" ng-repeat="searchItem in searchResults">
                        <li class="list-group-item">
                            <a href="#" ng-mousedown="redirectTo(searchItem.detail_url)">[{searchItem.title}]</a>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <select class="form-control"
                    style="display: inline;width: 180px;height: 39px;float: left;margin-right: 5px;"
                    ng-model="organization.selectedOrganization" ng-change="updateResourceList()"
                    ng-options="org.slug as org.title for org in organizations">
                <option value="">All Organization</option>
            </select>

            <select class="form-control" style="display: inline;width: 180px;height: 39px;float: left;"
                    ng-model="category.selectedCategory" ng-change="updateResourceList()"
                    ng-options="cat.identifier as cat.gn_description for cat in categories">
                <option value="">All Category</option>
            </select>

            <a href="{% url "layer_browse" %}" class="btn btn-primary pull-right">{% trans "All Layers" %}</a>


        </div>


        <div class="pull-right">

            <select class="form-control" style="display: inline;width: 125px;height: 39px;float: left;"
                    ng-model="orderby.selectedOrderBy" ng-change="updateResourceList()"
                    ng-options="order.value as order.option for order in orders">
            </select>


            <select class="form-control" style="display: inline;width: 70px;height: 39px;float: left;">
                <option>100</option>
                <option>20</option>
                <option>40</option>
            </select>


            <div class="btn-group" role="group">


                <a href="javascript:;" ng-class="{'btn-success' : pageViewing == 'list'}" class="btn btn-default"
                   ng-click="displayView('list')">
                    <i class="fa fa-bars"></i>
                </a>


                <a href="javascript:;" ng-class="{'btn-success' : pageViewing == 'grid'}" class="btn btn-default"
                   ng-click="displayView('grid')">
                    <i class="fa fa-th-large"></i>
                    <!--<img src="images/user-separator-icon.png" />-->
                </a>


            </div>


            <div class="btn-group">
                {% if not user.is_authenticated %}
                <a onclick="layerpopup('SigninModal');" class="btn btn-gd-primary pull-right icon-btn-color">
                    {% trans "Upload Layers" %} <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                </a>
                {% endif %}
                {% if user.is_authenticated %}


                <a href="{% url "layer_upload" %}" class="btn btn-primary pull-right">{% trans "Upload Layer" %}</a>


                {% endif %}
            </div>


        </div>

        <div style="clear: both"></div>
    </div>


    <div class="panel panel-default gallery-container">

        <div class="panel-body">

            <div class="row">

                <div ng-repeat="item in resourceList" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <div class="grid-container lmd">
                        <div class="avater">
                            <div class="avater-img">
                                <a class="avater-img-mid" href="[{ item.detail_url }]">
                                    <img ng-if="item.thumbnail_url != null" ng-src="[{ item.thumbnail_url }]"
                                         alt="No thumbs found" class="group-logo"/>
                                    <img ng-if="item.thumbnail_url == null"
                                         ng-src="/static/geonode/img/missing_thumb.png" alt="No thumbs found"
                                         class="group-logo"/>
                                </a>
                            </div>
                            <!-- ngIf: false -->

                        </div>
                        <div class="information">
                            <div class="top-content text-center">
                                <div class="title">
                                    <a href="[{ item.detail_url }]" title="[{ item.title }]">
                                        [{ item.title }]
                                    </a>
                                </div>
                                <div class="category">
                                    [{ item.category }]
                                    [{ item.category == null || item.category == '' ? 'Not provided.' : '' }]
                                </div>
                                <div class="details ng-binding">
                                    [{ item.abstract | limitTo: 220 }][{ item.abstract.length > 220 ? '...' : ''}]
                                </div>
                            </div>

                            <div class="summery"
                                 style="float: left;width:319px;border: 1px solid #e7e7e7;height: 79px;background-color: #f6f6f6;padding: 9px;border-right: 0;margin-bottom: 15px;">
                                <div class="item-items">
                                    <div class="item-items">
                                        <ul class="list-inline lmd">
                                            <li><a href="/people/profile/[{ item.owner }]"
                                                   title="[{item.resource_type}] owner">
                                                <i class="fa fa-user"></i> [{ item.owner }] </a>
                                            </li>
                                            <li><a href="[{ item.detail_url }]#info"
                                                   title="[{item.resource_type}] creation date">
                                                <i class="fa fa-calendar-o"></i> [{ item.date|date:'d MMM y' }] </a>
                                            </li>
                                            <li><a href="[{ item.detail_url }]"
                                                   title="[{item.resource_type}] view count">
                                                <i class="fa fa-eye"></i> [{ item.popular_count }] </a>
                                            </li>
                                            <li><a href="[{ item.detail_url }]#share"
                                                   title="[{item.resource_type}] share count">
                                                <i class="fa fa-download"></i> [{ item.download_count }] </a>
                                            </li>
                                            <li><a href="[{ item.detail_url }]#share"
                                                   title="[{item.resource_type}] share count">
                                                <i class="fa fa-share"></i> [{ item.share_count }] </a>
                                            </li>
                                            <li><a href="[{ item.detail_url }]#rate"
                                                   title="[{item.resource_type}] rating">
                                                <i class="fa fa-star"></i> [{ item.rating }] </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div style="float:left;padding:5px;border: 1px solid #c8d2d8;">
                                <div style="font-size: 11px;color:rgb(255, 255, 255); font-weight: bold;background-color:#00489c; text-align: center;margin:-6px -6px 5px;">
                                    Shared by
                                </div>
                                <a href="/organization/organization/[{item.organization_slug}]">
                                    <img ng-src="[{item.organization_logo}]"
                                         height="53px"
                                         width="50px"
                                         class="center-block"
                                         alt="[{ group.title }]"
                                         title="[{ group.title }]">
                                </a>

                            </div>
                        </div>


                        <div class="clearfix"></div>

                    </div>
                </div>

            </div>

        </div>


        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" style="width: 100px;" ng-show="previousUrl"
                    ng-click="previousItems()">Previous
            </button>
            <button type="button" class="btn btn-default" style="width: 100px;" ng-show="nextUrl"
                    ng-click="nextItems()">Next
            </button>
        </div>

    </div>
</div>


{% endblock %}

{% block extra_script %}
<script src="{{ STATIC_URL }}list_search/js/apps.js"></script>
<script src="{{ STATIC_URL }}list_search/js/services.js"></script>
<script src="{{ STATIC_URL }}list_search/js/layers.listsearch.controllers.js"></script>

<!--<script>-->
<!--var input = document.getElementById('myinput');-->
<!--var message = document.getElementsByClassName('newone')[0];-->
<!--input.addEventListener('focus', function () {-->
<!--message.style.display = 'block';-->
<!--});-->
<!--input.addEventListener('focusout', function () {-->
<!--message.style.display = 'none';-->
<!--});-->
<!--</script>-->

{% endblock extra_script %}

