<div class="catalog-browser" data-ng-init="fetchData()" style="height: 10%; width: 100%;">
    
   

        <div class="modal-header"> 
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeDialog()">
                <span aria-hidden="true">×</span>
            </button> 
            <h4 class="modal-title">Layers</h4> 
        </div>

        
        <div class="modal-body" ng-init="initdata()" style="padding-top: 0;padding-bottom:0;">
            
        <div class="row">
            <div class="col-md-3">
            <div class="folder-list">
                <ul>
                    <li data-ng-repeat="server in serverList" data-ng-class="{'folder-selected':server.name == selectedServerName}" data-ng-click="loadLayers(server, '11')"><span><i class="fa fa fa-refresh"></i>
                        Reload layers</span> </li>
                </ul>
            </div>
            </div>





            <select ng-model="organization.selectedOrganization" ng-change="updateLayersWithOrganization()"
            ng-options="org as org.title for org in organizations">
                <option value="">Select Organization</option>
            </select>

            <select ng-model="category.selectedCategory" ng-change="updateLayersWithCategory()"
            ng-options="cat as cat.gn_description for cat in categories">
                <option value="">Select Category</option>
            </select>
    
            <div class="col-md-9">
            <div class="file-container">
                  
    <div style="background-color: #f9f9f9;padding:10px;margin: -1px 0 0;border: 1px solid #e9e9e9;">
                        <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
                                <input type="text" class="form-control ng-pristine ng-valid" ng-model="searchKeyword">
                              </div>
                            </div>
    
    
                    <div class="list-group" style="overflow-y: auto;height:382px;margin-right:2px;">
               
                    <div class="list-group-item" style="overflow: hidden;border-radius:0" ng-repeat="layer in layers | filter: searchKeyword" >
                        <div class="col-md-10"> 
                            [{layer.Name}]
                        </div>  
                        <div class="col-md-2">
                            <button class="btn btn-primary" ng-click="addLayer(layer)">Add</button>
                        </div>  
                    </div>
                
                </div>
            </div>
        </div>

    
        </div>
    
        </div>
    
    </div>
    
    <style>
      .modal-dialog {
        width: 800px;
    }  
    </style>